.container{
    padding:20px;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border:1px solid gray;
    padding:15px;
    margin:15px 0;
    width:400px;
    border-radius:8px;
}

.red{
    color:red;
    font-weight:bold;
}

.green{
    color:green;
    font-weight:bold;
}

img{
    margin:20px 0;
    border-radius:10px;
}